/* gen by matugen */

    @define-color background #0f1512;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #2b322f;

    @define-color inverse_primary #126b56;

    @define-color inverse_surface #dee4e0;

    @define-color on_background #dee4e0;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #00382b;

    @define-color on_primary_container #a3f2d8;

    @define-color on_primary_fixed #002018;

    @define-color on_primary_fixed_variant #005140;

    @define-color on_secondary #1d352d;

    @define-color on_secondary_container #cee9dd;

    @define-color on_secondary_fixed #072019;

    @define-color on_secondary_fixed_variant #344c43;

    @define-color on_surface #dee4e0;

    @define-color on_surface_variant #bfc9c3;

    @define-color on_tertiary #0d3446;

    @define-color on_tertiary_container #c4e7ff;

    @define-color on_tertiary_fixed #001e2c;

    @define-color on_tertiary_fixed_variant #284b5e;

    @define-color outline #89938e;

    @define-color outline_variant #3f4945;

    @define-color primary #87d6bc;

    @define-color primary_container #005140;

    @define-color primary_fixed #a3f2d8;

    @define-color primary_fixed_dim #87d6bc;

    @define-color scrim #000000;

    @define-color secondary #b2ccc1;

    @define-color secondary_container #344c43;

    @define-color secondary_fixed #cee9dd;

    @define-color secondary_fixed_dim #b2ccc1;

    @define-color shadow #000000;

    @define-color source_color #548172;

    @define-color surface #0f1512;

    @define-color surface_bright #343b38;

    @define-color surface_container #1b211e;

    @define-color surface_container_high #252b29;

    @define-color surface_container_highest #303633;

    @define-color surface_container_low #171d1a;

    @define-color surface_container_lowest #090f0d;

    @define-color surface_dim #0f1512;

    @define-color surface_tint #87d6bc;

    @define-color surface_variant #3f4945;

    @define-color tertiary #a8cbe2;

    @define-color tertiary_container #284b5e;

    @define-color tertiary_fixed #c4e7ff;

    @define-color tertiary_fixed_dim #a8cbe2;


@define-color blur_background rgba(15, 21, 18, 0.3);
@define-color blur_background8 rgba(15, 21, 18, 0.8);

