@import url("colors.css");

* {
    font-family: 'JetBrainsMonoNerdFont', 'SF Pro Text', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin-top:0px;
    margin-bottom: 0px;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: @on_background;
    border-radius: 0px;
    min-height:24px;
}

#workspaces button {
background-color: transparent;
color: @on_surface_variant;
}

#workspaces button.active {
    background-color: @tertiary;
    color: @on_tertiary;
}

#workspaces {
    background-color: @surface_container_low;
    margin-left: 2px;
}

.modules-left {
    margin-left: 2px;
}

.modules-right {
    margin-right: 2px;
}

#window {
background-color: @surface_container_high;
color: @primary;
padding: 0 10px;
margin: 1px 0;
border-radius: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#battery,
#network,
#pulseaudio,
#backlight {
    color: @primary;
    background-color: @surface_container_high;
    margin: 0 2px 0 2px;
    padding: 0 4px 0 4px; /* top, right, bottom, left */
}

#clock {
    color: @secondary;
    background-color: @surface_container_high;
    margin: 0 2px 0 2px;
    padding: 0 8px 0 8px;
}

#network {
    color: @primary;
    margin: 0 2px 0 2px;
    padding: 0 8px 0 8px;
}

#pulseaudio {
    color: @primary;
    margin: 0 2px 0 2px;
    padding: 0 8px 0 8px;
}

#backlight {
    color: @primary;
    margin: 0 2px 0 2px;
    padding: 0 8px 0 8px;
}
