@import url("colors.css");

* {
    font-family: 'JetBrainsMonoNerdFont', 'SF Pro Text', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: @on_background;
    border-radius: 0px;
    min-height: 12px;
}

#workspaces {
    background-color: @surface_container_low;
    margin: 1px 2px;
    border-radius: 10px;
    padding: 0px;
}

#workspaces button {
    background-color: transparent;
    color: @on_surface_variant;
    padding: 0 8px;
    margin: 0px;
    border-radius: 10px;
    min-height: 0;
}

#workspaces button.active {
    background-color: @tertiary;
    color: @on_tertiary;
}

.modules-left {
    margin-left: 2px;
}

.modules-right {
    margin-right: 2px;
}

#window {
    background-color: @surface_container_high;
    color: @primary;
    padding: 0 10px;
    margin: 1px 1px;
    border-radius: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

#battery,
#network,
#pulseaudio,
#backlight {
    color: @primary;
    background-color: @surface_container_high;
    margin: 1px 1px 1px 1px;
    padding: 0 4px 0 4px;
}

#clock {
    color: @secondary;
    background-color: @surface_container_high;
    margin: 1px 1px 1px 1px;
    padding: 0 4px 0 4px;
}

#mpris,
#cava {
    color: @secondary;
    background-color: @surface_container_high;
    margin: 1px 1px 1px 1px;
    padding: 0 4px 0 4px;
}