@import url("colors.css");

* {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: @on_background;
    border-radius: 0px;
}

#workspaces button {
background-color: transparent;
color: @on_surface_variant;
}

#workspaces button.active {
    background-color: @tertiary;
    color: @on_tertiary;
}

#workspaces {
    background-color: @surface_container_low;
    margin-left: 6px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#battery,
#network,
#pulseaudio,
#backlight {
    color: @primary;
    background-color: @surface_container_high;
    margin: 0 6px 0 6px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @secondary;
    background-color: @surface_container_high;
    margin: 0 6px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @primary;
}

#pulseaudio {
    color: @primary;
}

#backlight {
    color: @primary;
}
