@import ".config/wofi/colors.css"

window {
    margin: 0px;
    border: 1px solid @primary;
    background-color: @background;
}

#input {
    margin: 5px;
    border: none;
    color: @on_surface_variant;
    background-color: @surface_container;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @surface;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @background;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @on_surface;
}

#entry:selected {
    background-color: @primary_container;
}
